.container{
    display:grid;
    grid-template-columns: auto auto auto;
    background-color: pink;
    border: 1px black;
    padding: 3px;

}
 .items{
     background-color: aquamarine;
     border: 1px solid;
     padding: 50px;
     grid-column-gap:50px;
     grid-row-gap: 50px;
     row-gap: 5px;
     font-size: 30px;
     text-align: 40;

 }